

Julieth Salcedo  8:10
Creando carpeta .gitignore
image.png 
image.png



Estefania Moncada Ramos  8:13
Buen dìa, ya me dieron la lapto, le instalaron el sistema operativo ubuntu para que ya no se colgara tanto
8:14
tengo entendido que con ubuntu se instalan los programas solo con comando, he intentado descargar Atom pero fue un intento fallido jiji
8:15
voy a ponerme a hacer las indicaciones de ayer, de forkear y clonar

Eli  8:16
descarga el visual, te lo recomiendo mejor que el atom
:corazón:
1


Estefania Moncada Ramos  8:17
pero estoy algo enredada, no se como descargarlo desde ubunto, busque unas indicaciones en el buscador, pero el proceso es a traves de comandos

Eli  8:31
si! me imagino! no conozco mucho ubuntu, de todas maneras te envio este link que consegui para instalar visual: https://tipsonubuntu.com/2017/03/03/install-ms-visual-studio-code-ubuntu-16-0416-10/ podrias comenzar con atom si no es tan dificil de instalar y ya luego checas esto si te conviene
Tips on UbuntuTips on Ubuntu
How to Install MS Visual Studio Code in Ubuntu 16.04/16.10
This quick tutorial is going to show you how to install Microsoft Visual Studio Code editor in Ubuntu 16.04, Ubuntu 16.10, Linux Mint 18 by adding the
3 de mar. de 2017 (11 kB)
https://tipsonubuntu.com/wp-content/uploads/2017/03/visual-studio-icon.jpg

Estefania Moncada Ramos  8:43
Muchas gracias @Eli voy a buscar el de mi versiòn de ubuntu en esa pagina:cara_abrazando:

Eli  9:13
@Daniela Gonzales dani nuevamente se me fue la luz en la casa. Estoy tratando de ingresar por cel

LORENNA LEON  9:19
se creo una carpeta vs.code es normal?
gitignore.png 
gitignore.png




2 respuestas
Última respuesta hace 6 díasVer hilo

Susan TP  9:39
hola

Danieladelacruz  10:03
https://www.w3schools.com/cssref/pr_background-image.asp
w3schools.comw3schools.com
CSS background-image property
Well organized and easy to understand Web building tutorials with lots of examples of how to use HTML, CSS, JavaScript, SQL, PHP, Python, Bootstrap, Java and XML.
:corazón_amarillo:
1


Eli  10:23
Porfa envienme a la sala 7, tengo problemas de luz e internet y me salí


2 respuestas
Última respuesta hace 6 díasVer hilo

Daniela Gonzales  11:10
@canal Hola chicas! a las 11:30 vamos a regresar a la sala principal para que podemos hacer un primer commit juntas :angie:
:sonrisa_burlona:
1
:+1::tono_de_piel_5:
1
:sonriendo:
1
:fast_parrot:
1


Ivy  11:35
Hola chicas! @canal
11:36
Los proyectos falta algo de configuracion. Tenemos que agregar dos archivos de configuracion

Aurelis Moreno  11:36
Hola Ivi!
Fijado por Guadalupe Canales G.

Ivy  11:36
Serían estos archivos:
.eslintrc
{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": "warn"
  }
}